[submodule "zsh/plugins/history-substring-search"]
	path = zsh/plugins/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/plugins/syntax-highlighting"]
	path = zsh/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "awesome/lain"]
	path = awesome/lain
	url = git://github.com/lcpz/lain.git
[submodule "awesome/awesome-freedesktop"]
	path = awesome/freedesktop
	url = git://github.com/lcpz/awesome-freedesktop.git
[submodule "awesome/cyclefocus"]
	path = awesome/cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
